In [1]:
import pandas as pd
names = ['chlorhexidine', 'cyntomycin', 'afobazol']
counts = [15, 18, 7]

def create_medications(names, counts):
    medications = pd.Series(
        data = counts,
        index = names,
        name = 'Series medications'
    )
    return medications

def get_percent(medications, name):
    percent = medications.loc[name]/sum(medications.iloc[:])*100
    return percent

medications = create_medications(names, counts)
print(medications)

print(get_percent(medications, "chlorhexidine"))

chlorhexidine    15
cyntomycin       18
afobazol          7
Name: Series medications, dtype: int64
37.5

In [2]:
import pandas as pd
income = [612, 516, 329, 158]
expenses = [136, 163, 250, 361]
years = [2017, 2018, 2019, 2020]

def create_companyDF(income, expenses, years):
    df = pd.DataFrame({
    'Income': income,
    'Expenses': expenses
    })
    df.index = years
    return df

def get_profit(df, year):
    if year in df.index:
        profit = df.loc[year, 'Income'] - df.loc[year, 'Expenses']
    else:
        profit = None
    return profit

print(create_companyDF(income, expenses, years))
df = create_companyDF(income, expenses, years)
print(get_profit(df, 2018))

      Income  Expenses
2017     612       136
2018     516       163
2019     329       250
2020     158       361
353

In [33]:
import pandas as pd
student_data = pd.read_csv('data/students_performance.csv', sep=',')
display(student_data.head())

#display(student_data.shape)

#display(student_data.loc[155, 'writing score'])

#display(student_data.info())

#display(student_data.describe())

#display(student_data['math score'].mean())

#display(student_data['race/ethnicity'].value_counts())

#display(student_data['race/ethnicity'].mode())

# mask1 = student_data['test preparation course'] == 'completed'
# display(student_data[mask1]['reading score'].mean())

# mask2 = student_data['math score'] == 0
# display(student_data[mask2].shape[0])

# mask3 = student_data['lunch'] == 'standard'
# mask4 = student_data['lunch'] == 'free/reduced'
# display(student_data[mask3]['math score'].mean())
# display(student_data[mask4]['math score'].mean())

# display(student_data['parental level of education'].value_counts(normalize=True))

mask5 = student_data['race/ethnicity'] == 'group A'
mask6 = student_data['race/ethnicity'] == 'group C'
write_median = student_data[mask5]['writing score'].median()
write_mean = student_data[mask6]['writing score'].mean()
print(abs(write_median - write_mean))

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

5.827586206896555